<h1>Welcome!</h1>
<% if user_signed_in? %>
  <p>What would you like to do?</p>
  <% if current_user.is_a?(Admin) %>
    <%= link_to "Unconfirmed users", unconfirmed_users_path %><br \>
    <%= link_to "Associate clinic with doctor", clinic_doctors_path %><br \>
    <%= link_to "Patients", patients_path %><br \>
    <%= link_to "Doctors", doctors_path %><br \>
    <%= link_to "Clinics", clinics_path %><br \>
    <%= link_to "Work plans", work_plans_path %><br \>
    <%= link_to "Appointments", appointments_path %><br \>
  <% elsif current_user.is_a?(Patient) %>
    <%= link_to "My appointments", appointments_path %><br \>
    <%= link_to "Available appointments", available_appointments_path %><br \>
    <%= link_to "First appointment in a clinic", first_clinic_appointments_path %><br \>
    <%= link_to "First appointment with a doctor", first_doctor_appointments_path %><br \>
    <%= link_to "Work plans", work_plans_path %><br \>
  <% elsif current_user.is_a?(Doctor) %>
    <%= link_to "My appointments", appointments_path %><br \>
    <%= link_to "My work plan", doctor_work_plans_path %><br \>
  <% end %>
<% else %>
  <p>Please login/register.</p>
<% end %>
